main{
  border:solid 5px;
 border-color: #E0DBD7 #131313 #949494 #131313 ;
  margin:20px;
  
}
section{
  margin:auto;
  border:solid 1px;
 border-color: #E0DBD7 #131313 #949494 #131313 ;
 
}

nav{
  border: solid 2px black;
  padding: 1px;
}

h1{
margin-top:0px;
  border:solid 2px blue;
  background-color: #1b41b5;
  padding:5px;
  text-align:left;
  color: aliceblue;
  font-family: "VT323", serif;
}

h2 {
  margin-top:-20px;
  padding:3px;
  text-align:left;
  background-color: #949494;
  font-family: "VT323", serif;

}

p {
  margin-top:auto;
  margin-bottom:auto
  width:75%;
  border: solid 2px red;
  padding:20px;
  text-align: left;
}

div 
{
display:flex;
width:100vw;
height:100vh;
align-items: center;
justify-content: center;
}

#About {
    background-color:rgb(38, 227, 76);
    padding: 20%;
    margin: 20px;
    font-size: 20px;
    font-family: "VT323";
    display: block;
  }
  
  p1{
    padding: 20%;
    margin: 20px;
    font-size: 40px;
  }

  .class {
    width:100px;
  height:100px;
  margin:10px;
  contain: content;
  }
  
#Classes{
    border:solid 10px rgb(255, 106, 0);
    display:flex;
    background-color: #1b41b5;
    margin: 10px;
  }

  #Contact{
    padding: 20%;
    margin: 20px;
    font-size: 20px;
    font-family: "VT323";
    display: inline-block;
    background-color: crimson;
  }

